.main_box{
    display: grid;

    width: 100%;
}

.box{

    width: 100%;


    display: grid;

    grid-template-columns: 25% 25% 25% 25%;
    column-gap: 0;

    /* justify-content: center; */
}

.box_element{
    padding: 10px;

    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}
.box_button{
    display: flex;

    border: 1px solid black;

    justify-content: space-evenly;
    align-items: center;
}
.box_button img{
    height: 30px;
}

.active{
    background-color: aqua;
}